<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/dist/css/dogo.min.css" />
    <link rel="stylesheet" href="~/tests/test.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="header sign-header">
            <div class="sign-logo text-center">
                <div class="logo-img">
                    <a href="/"><img src="/assets/logo.svg" alt="logo img" /></a>
                </div>
            </div>
        </div>
        <div class="mainer">
            <div class="container">
                <div class="sign-container">
                    <div class="sign-head text-center">
                        <h1>百慕大</h1>
                        <h2>寻找你的寻找</h2>
                    </div>
                    <div class="sign-body">@RenderBody()</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div id="UpPromptInfo">
                <!-- 提示信息 -->
                <div class="prompt text-center">
                    <span id="PromptInfo"></span>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas"></canvas>
    <script src="/dist/js/dogo.min.js"></script>
</body>
</html>
