<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Bermuda - Find You Find" />
    <link rel="icon" href="~/favicon.ico" />
    <title>@ViewBag.Title</title>
    <!-- import dogo.min.css -->
    <link href="~/dist/css/dogo.min.css" rel="stylesheet" />
</head>
<body>
    <div class="dogo-container">
        @Html.Partial("_Header")
        <!-- mainer 主体 -->
        <div class="mainer">
            <div>@RenderBody()</div>
        </div>
        <!-- footer 脚注 -->
        <div class="footer">
            <div class="container text-center copy-right">
                <span>Copyright &copy; 2017</span>
                <a href="#" class="bmd-author">金三角团队</a>
            </div>
        </div>
    </div>
    <!-- import dogo.min.js -->
    <script src="/dist/js/dogo.min.js"></script>
</body>
</html>
