<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BmdDbEntities" connectionString="metadata=res://*/BmdDb.csdl|res://*/BmdDb.ssdl|res://*/BmdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=bermuda-mvc;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>