// Base styles
//

// >425px  sm 10
// >760px  md 20
// >1024px lg 30
// >1440px lx 40


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@mixin container-media-generate($media-width) {

    $tmp-size: 10px;

    @media screen and (min-width: $media-width) {
        .container {
            @if $media-width == 1440px {
                max-width: $media-width - $tmp-size * 4;
            }
            @if $media-width == 1024px {
                max-width: $media-width - $tmp-size * 3;
            }
        }
    }
}

@include container-media-generate(1440px);

@include container-media-generate(1024px);

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.input-block {
    display: block;
    width: 100%;
}

.flex-box {
    display: flex;
}

.flex-box-inline {
    display: inline-flex;
}

.flex-row {
    @extend .flex-box;

    flex-direction: row;
}

.flex-col {
    @extend .flex-box;

    flex-direction: column;
}

.flex-center {
    @extend .flex-box;
    @extend .justify-center;
    @extend .items-center;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.menu {
    @extend .flex-box;

    .item {
        padding: 8px 10px;
    }
}

// gride column generate

@mixin flex-col-grenerate() {
    @for $i from 1 to 13 {
        .col-#{$i} {
            flex: $i;
        }

        /*@media screen and (min-width: 768px) {
            .col-md-#{$i} {}
        }*/

        //.col-sm-#{$i} {}
        //.col-lg-#{$i} {}
        //.col-lx-#{$i} {}
    }
}

@include flex-col-grenerate;

@mixin margin-lr-grenerate() {
    
    @for $i from 1 to 16 {
        .margin-lr-#{$i} {
            margin-left: #{$i}px;
            margin-right: #{$i}px;
        }
    }
}

@include margin-lr-grenerate;

@mixin margin-tb-grenerate() {
    
    @for $i from 1 to 16 {
        .margin-tb-#{$i} {
            margin-top: #{$i}px;
            margin-bottom: #{$i}px;
        }
    }
}

@include margin-tb-grenerate;

@mixin fs-grenerate() {
    @for $i from 12 to 26 {
        .fs-#{$i} {
            font-size: #{$i}px;
            color: $text-color;
        }
    }
}

@include fs-grenerate;

.link-img {
    font-size: 0;
    display: inline-block;
}

.link-btn {
    padding: 8px 15px;
    background-color: $main-color;
    color: #fff;
    display: inline-block;
    border-radius: 3px;

    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}

.sidebar-top {

}

.card-box {
    @extend .flex-box;
    //justify-content: space-between;

    position: relative;

    .item {
        //padding: $main-size;

        //@extend .flex-row;
        //@extend .flex-center;

        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    overflow: hidden;
}

.pad-15 {
    padding: 15px;
}

.list-box {
    
    .item {
        margin-top: $main-size;
        margin-bottom: $main-size;

        @extend .flex-col;
    }
}

.wrap-card {
    @extend .flex-box;

    flex-wrap: wrap;
}

@mixin tmp-border {
    padding: 15px;
    border: 1px solid #ddd;
}

.pos-center {
    position: absolute;
    left: 0;
    right: 0;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.margin-center {
    margin: 0 auto;
}

.tablist {
    display: flex;
    // padding: 15px 0;

    > .item {
        padding: 0 15px;
        display: flex;

        &:first-child {
            padding-left: 0;
        }

        > a, > span {
            padding: 15px 0;
        }

        > .active {
            border-bottom: 2px solid $main-color;
        }
    }
}

.none-block {
    display: none;
}

.none-opacity {
    opacity: 0;
    transition: opacity .3s linear;
}

.opacity-1 {
    opacity: 1;
}

.items-top {
    align-items: flex-start;
}

.items-bottom {
    align-items: flex-end;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.self-start {
    align-self: flex-start;
}