// Reset default styles
//

html {
    box-sizing: border-box;
    font-family: sans-serif;
    //-webkit-text-size-adjust: 100%;
    //-ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

a,
a:link {
    text-decoration: none;
    color: $text-color;
}

a:hover {
    color: $main-color;
}