// Variables
//

// Color

$main-color: #c66b6b !default;

// Sizes

$margin-middle: 0 auto;

$main-width: 75%;


// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
