// 条件过滤器
//

.filter {
    margin-bottom: 15px;

    > .tablist {

        // @extend .tablist;

        background-color: #fff;
        margin-right: 15px;
        padding: 0 15px;

        @include set-box-shadow;

        button, input {
            padding: 5px 10px;
            border: 1px solid $main-color;
            border-radius: 3px;
            color: $main-color;
        }

        .active-btn {
            background-color: $main-color;
            color: #fff;
        }
    }
}