
// 提示信息

.prompt {
    margin-top: 45px;
    opacity: 0;
    transition: opacity 1s linear;

    > span {
        border: 1px solid red;
        padding: 8px 15px;
        border-radius: 3px;
        color: red;
        font-size: 14px;
        display: inline-block;

        //opacity: 0;
        //transition: opacity 1s linear;
    }
}
