
// 发布失物招领信息

.pub-notice {
     
    max-width: 666px;
    margin: 15px auto;

    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 15px;
    
    .upload-img {
        min-height: 192px;
        position: relative;

        img.icon-upload-img {
            width: 42px;
        }

        img.hidden {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        img.preview {
            max-width: 100%;
            width: auto;
        }

        .upload-input {
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;

            position: absolute;
            display: block;
            top: 0;
            left: 0;
        }
    }

    .notice-info {

        > div {
            display: flex;
        }

        textarea, input {
            @extend .input-block;

            //outline: none;
            border: none;
            font-size: 16px;
            color: #969696;
            padding: 5px;
        }

        .title, .type, .place, .date, .detail {
            margin: 15px 0;
        }

        .title {

            textarea {
                font-size: 44px;
                font-weight: 600;
                color: #969696;

                overflow-y: hidden;
            }
        }

        .type {
            margin: 15px 0;
            font-size: 16px;
            color: #969696;

            input {
                display: inline-block;
                width: auto;

                margin: 0 {
                    right: 5px;
                }

                //vertical-align: central;
            }

            td {
                padding-right: 15px;
            }
        }

        .species {
            .selector {
                width: 120px;

                // margin-top: 15px;
                border-radius: 3px;
                color: #969696;
            }
        }

        .detail {
            textarea {
                overflow-y: hidden;
            }
        }
    }

    .pub-btn {

        //margin: 15px 0;

        input {
            padding: 8px 15px;
            background-color: $main-color;
            color: #fff;
            border-radius: 3px;
            font-size: 16px;

            outline: none;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

