
// 宣传栏

.sidebar {
    background-color: #f7dcdc;

    > .container {
        background: url(../../assets/slogan-bg.svg) no-repeat;
    }

}

.slogan {
    min-height: 280px;
    font-size: 25px;
    color: $main-color;

    justify-content: center;

    > p {
        margin-top: 15px;
    }
}

.juin-us {

    align-items: flex-end;

    .sign-up {
        margin-bottom: 25px;
    }

    .link-btn {
        padding: 8px 45px;
    }
}
