// 话题编辑
//

.topic-edit-container {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    
    // background-color: #fff;

    // @extend .container;
    @extend .flex-center;
    @extend .none-block;

    background-color: rgba(0, 0, 0, .5);
    
    opacity: 0;
    transition: opacity .3s linear;


    > .edit-topic {
        @extend .pub-notice;

        > .topic-info {
            @extend .notice-info;
        }
    }

    .icon-close {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 14%;
        color: #f1f1f1;
        font-style: normal;

        &:hover,
        &:focus {
            color: #bbb;
            cursor: pointer;
        }
    }
}