// 放大图片
// @author Hnsn Wu
//

#zoom-container {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    > div {
        height: 100%;
    }

    .zoom-img {
        display: block;
        max-width: 540px;

        padding: 3px;
        border: 1px solid #ddd;
        background-color: #fff;

        //margin: 4% auto 15px auto;
        // width: 100%;
        // max-height: 720px;
    }

    .caption {
        margin-top: 15px;
        font-size: 20px;
        color: #ccc;

        // text-align: center;
        // max-height: 750px;
        // width: 60%;
        // margin: 0 auto;
    }

    .zoom-img, 
    .caption {
        -webkit-animation: zoom-scale .8s;
        -o-animation: zoom-scale .8s;
        animation: zoom-scale .8s;
    }

    @keyframes zoom-scale {
        from {
            transform: scale(0.1);
        }

        to {
            transform: scale(1);
        }
    }

    .close {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 14%;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        cursor: pointer;
    }

    @media only screen and (max-width:750px ) {
        .zoom-img {
            max-height: 360px;
        }
    }
}