@*
    从话题表取出参与度前六的话题
*@

@model IList<Bmd.App.Models.HotTopicViewModel>
@{ 

}
<div class="hot-topic">
    <div class="card-box caro-slider">
    @*<div id="itemPlaceHolder"></div>*@
    @foreach (var item in Model)
    {
        <div class="item" style="background:url(@item.Img) no-repeat center center;background-size:auto 120%;">
            <div class="flex-center">
                <a class="flex-center" href="#">@item.Name</a>
            </div>
        </div>
    }
    </div>
</div>

