<div class="sidebar">
    <div class="container flex-box items-center">
        <div class="col-2 flex-col slogan">
            <h2>寻找你的寻找</h2>
            <p>一切执于对美好校园生活的凝练</p>
        </div>
        <div class="col-1 flex-col juin-us">
            <div class="sign-up">
                <a ID="LinkSignUp" class="link-btn" href="/Account/SignUp">加入我们</a>
                @*<a ID="LinkTopicEdit" class="link-btn create-topic" href="javascript:void(0);">创建话题</a>*@
            </div>
            <div class="sign-in">
                <a ID="LinkSignIn" class="link-btn" href="/Account/SignIn">马上登录</a>
                @*<a ID="LinkCurrentEdit" runat="server" class="link-btn" href="#">发表动态</a>*@
            </div>
        </div>
    </div>
</div>