// Base styles
//

#dogo-conteiner {

}

.header {
    padding: $px-15;
    background-color: $color-fff;

    .container {
        width: $main-width;
        margin: $margin-middle;

        display: $flex;
        flex-wrap: $wrap;
        // justify-content: space-between;
    }
}

.mainer {
    padding: 0 $px-15;
    background-color: #ccc;
}

.footer {
    padding: 50px 15px;

    background-color: #eee;

    .copyright {
        text-align: center;
    }
}
