// Base styles
//

#dogo-conteiner {

}

.header {
    padding: $px-15;
    background-color: $color-ddd;

    .container {
        width: $main-width;
        margin: $margin-middle;

        display: $flex;
        flex-wrap: $wrap;
        // justify-content: space-between;
    }
}
