// Grid
//

// mobile-s 320px
// mobile-m 375px
// mobile-l 425px

// tablet 768px

// laptop 1024px

// laptop-l 1440px

@media screen and (max-width: 425px) {
    .header .container {
        flex-direction: column;
        .logo {
            justify-content: center;
        }

        .navi {
            justify-content: center;

            width: 100%;
        }

        .sign {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 768px) {
    .header .container {
        width: 100%;

        .logo {
            flex: 1;
        }

        .navi {
            flex: 1;
            // display: none;

        }

        .sign {
            flex: 1;

            // TODO
        }
    }
}