// List container
//

.note-container {
   padding: $px-15 0;
   background-color: #fff;

   display: $flex;
   justify-content: space-between;
   
   .asidebar {
       padding: $px-15 0;
   }

   .list {
       flex: 3;

       background-color: #fff;
       padding-right: 25px;

       .note-tags {
           padding-top: 0; // $px-15
           background-color: #fff;

           display: $flex;
           justify-content: flex-start;
           flex-wrap: wrap;
           // border-bottom: 1px solid $main-color;

           .tag-btn {
               display: $flex;
               align-items: center;
               border: 1px solid $main-color;
               border-radius: 5px;
               cursor: pointer;

               margin-right: 25px;
               margin-bottom: 25px;

               > img {
                   height: 32px;
                   border-top-left-radius: inherit;
                   border-bottom-left-radius: inherit;
               }

               > div {
                   padding: 0 15px;
                   font-size: 14px;
                   color: $main-color;
               }
           }

           .tag-more-btn {
               display: $flex;
               align-items: center;
               font-size: 14px;
               color: #888;
               cursor: pointer;

               margin-right: 25px;
               margin-bottom: 25px;
           }
       }

       .note-list {
           padding: 15px 0;

           [class*="note-"] {
               //padding: 15px 0;
               margin: 15px 0;
               border-bottom: 1px dashed $main-color;
               background-color: #fff;

               display: flex;
               flex-direction: column;

               .title {
                   color: $main-color;
                   padding: 15px 0;
               }

               .author {
                   color: #234;
                   display: flex;
                   align-items: center;

                   .avatar,
                   .name, 
                   .date {
                       margin-right: 10px;
                       color: #888;
                   }

                   .avatar {
                       height: 48px;
                   }
               }

               .content {
                   font-size: 13px;
               }

               .meta {
                   padding: 15px 0;

                   .status {
                       font-size: 4px;
                       color: $main-color;
                       background-color: #fff;
                       border: 1px solid $main-color;
                       border-radius: 3px;
                       padding: 2px 4px;
                   }
               }
           }

           .load-more {
               background-color: #888;
               text-align: center;
               padding: 10px 15px;
               border-radius: 10px;

               a {
                   color: #fff;
               }
           }
       }
   }

   .top {
       flex: 1;

       // padding: 15px 0;
       // background-color: #888;

       .top-title {
            color: $main-color;
            text-align: center;

            padding: $px-15;

            color: $color-fff;
            background-color: $main-color;
            border-radius: 5px;
        }

       .top-box {

           

           [class*="top-"] {
               padding: $px-15;
               background-color: $color-fff;

               // border: 1px solid red;

               display: flex;
               justify-content: space-around;
               align-items: center;

               .avatar {
                   font-size: 0;

                   img {
                       height: 58px;

                       border-radius: 50%;
                   }
               }

               .name {
                   color: $main-color;
               }

               .help-num {
                   font-size: 24px;
                   color: #42c02e
               }

           }
       }
   }

}
