// Navigation
//

.navi {
    display: $flex;
    
    -webkit-flex: 2;
            flex: 2;
}

.menu {
    display: inherit;
    padding: 0 15px;
    
    // background: #ccc;
}

.menu-row {
    padding: 0;
    list-style: none;

    display: inherit;

    .menu-item {
        padding: 0 15px;

        a {
            /*&:link {
                color: $main-color;
            }*/

            color: $main-color;

            &.active {
                color: $main-color - 20;
            }
        }
    }
}
