// Navigation
//

.navi {
    display: $flex;
    flex-grow: 2;
}

.menu {
    display: inherit;
    padding: 0 15px;
    
    // background: #ccc;
}

.menu-row {
    padding: 0;
    list-style: none;

    display: inherit;

    .menu-item {
        padding: 0 15px;

        a {
            color: $main-color;
        }
    }
}
