// Sign button
//


.sign {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    -webkit-flex: 2;
            flex: 2;
    
    div {
        padding: 8px 0;
    }
}

.btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    // height: 40px;

    background-color: $color-fff;
    color: $main-color;
    padding: 8px 20px;

    max-width: 100%;
}

.sign-in,
.sign-up {
    // background-color: #ddd;
    a {
        color: $main-color;
    }
}

.sign-up,
.write-lf {
    border: 1px solid $main-color;
    border-radius: 20px;
}

.sign-up {
    margin: 0 15px;

    &:hover {
        border-color: $main-color - 30;

        /*background-color: $main-color;
        color: #fff;*/
    }
    
    /*a {
        &:hover {
            bg
            color: #fff;
        }
    }*/
}

.write-lf {
    background-color: $main-color;
    color: #fff;
}

.user-avatar {

    font-size: 0;
    margin: 0 15px;
    display: inline-block;

    img {
        height: 40px;
        border-radius: 50%;
    }
}