// Sign button
//


.sign {
    display: inherit;
    align-items: center;
    justify-content: flex-end;
    
    -webkit-flex: 1;
            flex: 1;
}

.btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    // height: 40px;

    background-color: $color-fff;
    padding: 8px 20px;
    color: #c66;
}

.sign-in {
    // background-color: #ddd;
}

.sign-up,
.write-lf {
    border: 1px solid $main-color;
    border-radius: 20px;
}

.sign-up {
    margin: 0 15px;

    &:hover {
        border-color: $main-color - 25;
    }
}

.write-lf {
    background-color: $main-color;
    color: #fff;
}
