// Variables
//


// Color

$main-color: #c66b6b !default;


$color-ddd: #ddd;
$color-fff: #fff;

// Sizes

$px-15: 15px;
$px-48: 48px;

$flex: flex;
$wrap: wrap;

$margin-middle: 0 auto;

$main-width: 75%;


// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;