/*!
 * dogo v1.0.0-alpha.1
 * @author _king
 */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a,
a:link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .header .container {
    flex-direction: column;
  }
  .header .container .logo {
    justify-content: center;
  }
  .header .container .navi {
    justify-content: center;
    width: 100%;
  }
  .header .container .sign {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    width: 100%;
  }
  .header .container .logo {
    flex: 1;
  }
  .header .container .navi {
    flex: 1;
  }
  .header .container .sign {
    flex: 1;
  }
}

.header {
  padding: 15px;
  background-color: #fff;
}

.header .container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.mainer {
  padding: 0 15px;
}

.footer {
  padding: 50px 15px;
  background-color: #fff;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright a {
  color: #c66b6b;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex: 1;
  flex: 1;
}

.logo-img {
  width: 48px;
}

.logo-text {
  margin: 0;
  padding: 0 15px;
  color: #c66b6b;
}

.navi {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.menu {
  display: inherit;
  padding: 0 15px;
}

.menu-row {
  padding: 0;
  list-style: none;
  display: inherit;
}

.menu-row .menu-item {
  padding: 0 15px;
}

.menu-row .menu-item a {
  /*&:link {
                color: $main-color;
            }*/
  color: #c66b6b;
}

.menu-row .menu-item a.active {
  color: #b25757;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-flex: 2;
  flex: 2;
}

.sign div {
  padding: 8px 0;
}

.btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #fff;
  color: #c66b6b;
  padding: 8px 20px;
  max-width: 100%;
}

.sign-in a,
.sign-up a {
  color: #c66b6b;
}

.sign-up,
.write-lf {
  border: 1px solid #c66b6b;
  border-radius: 20px;
}

.sign-up {
  margin: 0 15px;
  /*a {
        &:hover {
            bg
            color: #fff;
        }
    }*/
}

.sign-up:hover {
  border-color: #a84d4d;
  /*background-color: $main-color;
        color: #fff;*/
}

.write-lf {
  background-color: #c66b6b;
  color: #fff;
}

.user-avatar {
  font-size: 0;
  margin: 0 15px;
  display: inline-block;
}

.user-avatar img {
  height: 40px;
  border-radius: 50%;
}

.content-holder {
  width: 75%;
  margin: 0 auto;
}

.dogo-caro {
  position: relative;
}

.caro-items {
  font-size: 0;
  position: relative;
  /*.prev {
        visibility: visible;
    }

    .next {
        visibility: hidden;
    }*/
}

.caro-items:before {
  content: "";
  display: block;
  padding-top: 59.3%;
}

.caro-items .item {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s linear;
}

.caro-items .item a {
  display: block;
}

.caro-items .active {
  opacity: 1;
}

.caro-ctrls {
  display: none;
  position: absolute;
  top: 45%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}

.caro-ctrls [class*="icon-ctrl-"] {
  width: 12px;
  height: 12px;
  display: inherit;
  border-top: 3px solid #fff;
}

.caro-ctrls .icon-ctrl-left {
  border-left: 3px solid #fff;
  transform: rotate(-45deg);
}

.caro-ctrls .icon-ctrl-right {
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.ctrl-left {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ctrl-right {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.caro-index {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  text-align: center;
}

.caro-index .index {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #c66b6b;
}

.caro-index .active {
  background-color: #c66b6b;
  box-shadow: 0 0 3px #888;
}

.note-container {
  padding: 15px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.note-container .asidebar {
  padding: 15px 0;
}

.note-container .list {
  flex: 3;
  background-color: #fff;
  padding-right: 25px;
}

.note-container .list .note-tags {
  padding-top: 0;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.note-container .list .note-tags .tag-btn {
  display: flex;
  align-items: center;
  border: 1px solid #c66b6b;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 25px;
}

.note-container .list .note-tags .tag-btn > img {
  height: 32px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.note-container .list .note-tags .tag-btn > div {
  padding: 0 15px;
  font-size: 14px;
  color: #c66b6b;
}

.note-container .list .note-tags .tag-more-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 25px;
}

.note-container .list .note-list {
  padding: 15px 0;
}

.note-container .list .note-list [class*="note-"] {
  margin: 15px 0;
  border-bottom: 1px dashed #c66b6b;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.note-container .list .note-list [class*="note-"] .title {
  color: #c66b6b;
  padding: 15px 0;
}

.note-container .list .note-list [class*="note-"] .author {
  color: #234;
  display: flex;
  align-items: center;
}

.note-container .list .note-list [class*="note-"] .author .avatar,
.note-container .list .note-list [class*="note-"] .author .name,
.note-container .list .note-list [class*="note-"] .author .date {
  margin-right: 10px;
  color: #888;
}

.note-container .list .note-list [class*="note-"] .author .avatar {
  height: 48px;
}

.note-container .list .note-list [class*="note-"] .content {
  font-size: 13px;
}

.note-container .list .note-list [class*="note-"] .meta {
  padding: 15px 0;
}

.note-container .list .note-list [class*="note-"] .meta .status {
  font-size: 4px;
  color: #c66b6b;
  background-color: #fff;
  border: 1px solid #c66b6b;
  border-radius: 3px;
  padding: 2px 4px;
}

.note-container .list .note-list .load-more {
  background-color: #888;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.note-container .list .note-list .load-more a {
  color: #fff;
}

.note-container .top {
  flex: 1;
}

.note-container .top .top-title {
  color: #c66b6b;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: #c66b6b;
  border-radius: 5px;
}

.note-container .top .top-box [class*="top-"] {
  padding: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.note-container .top .top-box [class*="top-"] .avatar {
  font-size: 0;
}

.note-container .top .top-box [class*="top-"] .avatar img {
  height: 58px;
  border-radius: 50%;
}

.note-container .top .top-box [class*="top-"] .name {
  color: #c66b6b;
}

.note-container .top .top-box [class*="top-"] .help-num {
  font-size: 24px;
  color: #42c02e;
}

