/*!
 * dogo v1.0.0-alpha.1
 * @author _king
 */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

a,
a:link {
  text-decoration: none; }

.header {
  padding: 15px;
  background-color: #ddd; }
  .header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }

.logo {
  display: inherit;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; }

.logo-img {
  width: 48px; }

.logo-text {
  margin: 0;
  padding: 0 15px;
  color: #c66; }

.navi {
  display: flex;
  flex-grow: 2; }

.menu {
  display: inherit;
  padding: 0 15px; }

.menu-row {
  padding: 0;
  list-style: none;
  display: inherit; }
  .menu-row .menu-item {
    padding: 0 15px; }
    .menu-row .menu-item a {
      color: #c66b6b; }

.sign {
  display: inherit;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1; }

.btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  height: 40px;
  background-color: #ddd;
  padding: 8px 20px;
  color: #c66; }

.sign-up,
.write-lf {
  border: 2px solid #c66;
  border-radius: 20px; }

.sign-up {
  margin: 0 15px; }

.write-lf {
  background-color: #c66;
  color: #fff; }

